*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;

    background-color: rgb(210, 246, 234);
}

#sidebar{
    display: flex;
    flex-direction: column;

    border: 2px solid blue;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 4px solid red;
}

#workspace{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: pink;
}

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (3, 1fr);

    border: 2px solid green;
}

#right_bar{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    border: 2px solid purple;
}