*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile-first Design */
body{
    display: grid;
    
}

#sidebar img{
    max-height: 10vh;
    max-width: 10vw;
}

#sidebar h2{
    margin: auto 0;
}

.header-img{
    display: flex;
    gap: .5rem;
    margin-block: 1rem;
}

#sidebar{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 1rem;
}

#sidebar ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 65%;
    padding: .25rem;
}

ul li::after {
    content: " | ";
    padding-right: .25rem;
}

ul li:last-child::after {
    content: "";
}

main{
    display: grid;
}

header{
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 1rem;
}

#notifications{
    max-width: 5vw;
    max-height: 5vh;
}

form {
  display: flex;
  align-items: center;
}

form label {
  display: inline-flex;
  align-items: center;
}

form label img {
  width: 1.25rem; 
  height: 1.25rem;
  flex-shrink: 0;
}


.mini-profile{
    display: none;
}

.header-top, .header-bottom{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.header-bottom img{
    max-width: 25vw;
    max-height: 25vh;
}

.header-bottom p{
    margin: 3rem auto;
    font-size: 1.5rem;
}

.btns{
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
}

button{
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
}

#projects{
    display: grid;
    gap: 1rem;
    margin-block: 1.5rem;
    margin-inline: 1rem;
}

h3{
    margin-bottom: .5rem;
}

.card{
    border: 1px solid grey;
    margin: 0 auto;
    padding: 1rem;
    
}

#right_bar{
    display: grid;
    gap: 1rem;
}

#announcements, #trending{
    border: 1px solid grey;
    text-align: left;
    margin-inline: 1rem;
    padding: .75rem;
}

hr{
    max-width: 85%;
    margin: .5rem auto;
}

#trending{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* Desktop Override */

@media (min-width: 900px){
body{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#sidebar{
    display: flex;
    flex-direction: column;
}

.mini-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
}

main{
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#workspace{
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#right_bar{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}
}