*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;

  
}

#sidebar{
    display: flex;
    flex-direction: column;

    border: 2px solid blue;
}

main{
    display: grid;
    grid-template-rows: 1fr 6fr;

    border: 4px solid red;
}

#workspace{
    display: grid;
    grid-template-columns: 6fr 1fr;

   
}

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 2px solid green;
}

#right_bar{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;

    border: 2px solid purple;
}